# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/.history
/node_modules
/wp-admin
/wp-includes
/wp-content/plugins/akismet/
/wp-content/plugins/classic-editor/
/wp-content/plugins/preserved-html-editor-markup-plus/
/wp-content/plugins/wordfence/
/wp-content/plugins/otherwysiwyg/js/tinymce/
/wp-content/themes/otherrealm/js/tinymce/
/nbproject/private/